@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.UploadFileContainer {
  position: relative;
  z-index: 1236;
  max-width: 500px;
  margin: 100px auto;
  border-radius: 10px;
  overflow: hidden;
  background: #212121;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.UploadFileContainer input {
  position: relative;
  z-index: 2;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  height: 200px;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.UploadFileContainer label, .UploadFileContainer.dragover label {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  background: #1a1a1a;
  border: 4px dashed #3f8188;
  color: #3f8188;
  text-align: center;
  transition: background 0.3s, border-color 0.3s, color 0.3s;
}

.UploadFileContainer:hover label {
  background: #3f8188;
  border-color: #1a1a1a;
  color: #1a1a1a;
}

.UploadFileContainer.dragover label {
  border-color: #ff4081;
  color: #ff4081;
}

#SelectedFileName{
    position: absolute;
    z-index: 1000;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: red;
    padding: 20px;
}

.UploadFileBtn {
    position: relative;
    z-index: 1235;
    display: block;
    margin: -76px auto;
    padding: 10px 30px;
    background: #3f8188;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.UploadFileBtn:hover {
  background: #4a9299;
}