@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Poppins:wght@200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

.Chetcontainer {
  display: none;
  background-image: url(../images/chatbox_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 50vw;
  left: 0;
  top: 0;
  padding: 0;
  overflow: auto;
  box-shadow: 0px 0px 15px 0px #3ad200;
  z-index: 3;
  position: relative;
  overflow-x: hidden;
}

.chat-header {
  height: 60px;
  background-image: url(../images/test.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.chat-body {
    overflow-y: auto;
    height: calc(100vh - 213px);
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;
    z-index: 3;
}

.user-message,
.chatbot-message {
  background: radial-gradient(black, transparent);
  color: rgb(2, 255, 2);
  align-self: flex-start;
  border-radius: 10px 10px 3px 10px;
  white-space: pre-wrap !important;
  font-size: 10px;
}

.user-message{
  align-self: flex-end !important;
}
.chat-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#txtInput {
  position: absolute;
  height: 56px;
  border: none;
  border-radius: 15px;
  padding: 8px 10px;
  outline: none;
  overflow: hidden;
  width: 90%;
  bottom: -100%;
  max-height: 130px;
  min-height: 50px;
}

#sentButton {
  background: linear-gradient(135deg, #007e80, #2c00ff);
  padding: 9px;
  border-radius: 50%;
  color: #fff;
  top: 10%;
  cursor: pointer;
  left: 92%;
}

#sentButton:hover{
  color: #00ff00 !important;
}


.chat-body::-webkit-scrollbar {
  width: 10px;
}

.chat-body::-webkit-scrollbar-track {
  background: #4b5c66;
  border-radius: 100px;
}

.chat-body::-webkit-scrollbar-thumb {
  background: #00ff00;
  border-radius: 100px;
}

.chat-body::-webkit-scrollbar-thumb:hover {
  background: #00cc00;
}


body {
  display: flex;
  justify-content: space-between;
  background-image: url('../images/backgrondTable.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 2.5% 1%;
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}


#clients-container {
  font-family: 'Fira Code', monospace;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
  z-index: 2;
  margin-right: 10%;
  width: 100%;
  justify-content: right;
  margin-left: 2%;
}

.fa-ellipsis-vertical{
  position: absolute;
  color: #00ff00;
  font-size: 22px;
  margin-left: 75%;
  cursor: pointer
}

.client {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #1c1c1c, #9d2020);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  width: 140px;
  margin-right: 2%;
}

.fa-windows:hover, .fa-ellipsis-vertical:hover{
  transform: translateY(-2px) scale(1.1);
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.6);
}

.client-ip {
  font-family: monospace;
  font-size: 12px;
  color: #00ff00;
  margin-top: 5px;
  text-shadow: 0px 0px 5px rgba(0, 255, 0, 0.6);
}

.fa-windows {
  font-size: 50px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  mix-blend-mode: screen;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.4);
  cursor: pointer
}

.fa-windows:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  border: 2px solid rgba(0, 255, 0, 0.3);
  border-radius: 50%;
  animation: borderRotate 3s linear infinite;
  z-index: -1;
}

.fa-windows:hover:after {
  border-color: green;
}

.fa-windows.selected:after {
  border-color: red;
}

#clients-container::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

#clients-container::-webkit-scrollbar-track {
  background: #4b5c66; /* Adjust the track color */
}

#clients-container::-webkit-scrollbar-thumb {
  background: #00ff00; /* Adjust the thumb color to green */
}

#clients-container::-webkit-scrollbar-thumb:hover {
  background: #00cc00;
}


.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  margin-right: 3%;
  right: 0%;
  position: absolute;
}
#settings-menu {
  background: #adb5bd;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  font-size: 10px;
  position: absolute;
  margin-right: 8px;
  margin-top: 20px;
  padding: 7px;
}

#settings-menu ul {
  list-style: none;
  padding: 0;
}

#settings-menu ul li {
  padding: 10px 0; /* vertical padding for each list item */
  cursor: pointer; /* change cursor to pointer when hovering over a list item */
  transition: background-color 0.3s ease; /* transition for hover effect */
  border-bottom: 1px solid lightgray;
  width: 130px;
}

#settings-menu ul li:hover {
  background-color: #E5E5E5; /* light grey hover background */
}

#settings-menu ul li a {
  color: #040404;
  text-decoration: none;
  font-weight: 800;
}

#settings-menu ul li a:hover {
  color: #007BFF; /* blue hover text */
}

#settings-menu .submenu-wrapper {
  position: relative; /* added new rule */
}

#SubOptionClientSetting {
  position: absolute;
  top: 0; /* position at the top edge of the wrapper */
  right: 100%; /* position at the right edge of the wrapper */
  background-color: #adb5bd;
  border-radius: 10px;
  padding: 4px !important;
  padding-top: 3px !important;
  white-space: nowrap;
}
