<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <!-- Updated the href attribute -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- Updated the src attribute -->
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="chat-header">
        <div class="logo">
          <!-- Updated the src attribute -->
          <img src="{{ url_for('static', filename='images/cwt.jpg') }}" alt="cwt" />
        </div>
        <div class="title" >{{hostname}}</div>
        <!-- <script src="{{ url_for('static', filename='js/ChatBotTools.js') }}" defer></script> -->
      </div>
      <div class="chat-body"></div>
      <div class="chat-input">
        <div class="input-sec">
          <input type="text" id="txtInput" placeholder="Typ here" autofocus />
        </div>
        <div class="send">
          <!-- Updated the src attribute -->
          <img src="{{ url_for('static', filename='images/send.svg') }}" alt="send" />
        </div>
      </div>
    </div>
  </body>
</html>
