<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://kit.fontawesome.com/c4c3594551.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='js/networkGraphStyleConf.js') }}"></script>
    <script src="{{ url_for('static', filename='js/onSession.js') }}" defer></script>
  </head>
  <body>
    <div id="particles-js"></div>
    <div class="chat-icon"></div>
    <div class="container" style="display: none;" id="ChatContainer">
      <div class="chat-header">
      </div>
      <div class="chat-body"></div>
      <div class="chat-input">
        <div class="input-sec">
          <textarea id="txtInput" placeholder="Enter Command" rows="2" autofocus></textarea>
        </div>
        <div class="send">
          <img src="{{ url_for('static', filename='images/send.svg') }}" alt="send" />
        </div>
      </div>
    </div>
    <div class="right-container">
      <div id="clients-container"></div>
    </div>
  </body>
</html>

